body {
    margin: 0;
    background-color: #2b2b2b;
    color: white;
}
.container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.section {
    background-color: #5e5e5e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
}
.gridBanners {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gridBanners img{
    width: 100%;
}

.header-container .encapsular{
    color: black;
    background-color: #BCBCBC;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.header-item{
    text-align: center;
    margin-bottom: 1%;
}

.banner{
    background-color: #BCBCBC;
    margin: 2%;
    width: 25%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gridBanners a img{
    margin: 0;
}
.gridBanners a h3{
    color: black;
    margin: 0;
    text-align: center;
    
}

@media only screen and (max-width: 1166px) {
    .gridBanners {
        display: block;
    }

    .banner{
        width: 50%;
        margin: 0;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }
  }