body {
    margin: 0;
    background-color: #2b2b2b;
    color: white;
}
.container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.section {
    background-color: #5e5e5e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
}
.Newgrid {
    text-align: center;
}
.Newgrid img{
    transform: scale(75%);
    width: 75%;
}


.header-item{
    text-align: center;
    display: block;
    margin-bottom: 1%;
}

.Newgrid p{
    margin-left: 15%;
    margin-right: 15%;
    line-height: 2em;
}

