body {
    margin: 0;
    background-color: #2b2b2b;
    color: white;
}
.container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.section {
    background-color: #5e5e5e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
}
.CharacterList {
    text-align: center;
}
.CharacterList img{
    transform: scale(85%);
    width: 15%;
}

.CharacterList a{
    margin: 0;
}
.CharacterList a img{
    margin: 0;
}

.CardFilters form .encapsularCard{
    color: black;
    background-color: #BCBCBC;
    display: flex;
    justify-content: center;
    gap: 5%;
}



.CardFilterItem{
    text-align: center;
    display: block;
    margin-bottom: 1%;
}

@media only screen and (max-width: 1166px) {
    .CardFilters form .encapsularCard{
        display: block;
    }
    .CardFilterItem h3{
        margin: 0;
    }
    .CardFilterItem .header-item{
        margin: auto;
        font-size: 70%;
    }
  }