body {
    margin: 0;
    background-color: #2b2b2b;
    color: white;
}
.container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.section {
    background-color: #5e5e5e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
}
.grid {
    text-align: center;
}
.grid img{
    transform: scale(75%);
}


.header-container form .encapsular{
    color: black;
    background-color: #BCBCBC;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: -20px -20px 20px -20px;
}



.header-item{
    text-align: center;
    display: block;
    margin-bottom: 1%;
}
